/* tell the SVG path to be a thin blue line without any area fill */
.Center-Container.is-Table { 
	display: table; 
	margin:auto;
	height:100%;
	
}
.is-Table .Table-Cell {
  display: table-cell;
  vertical-align: middle;
}
.is-Table .Center-Block {
  width: 100%;
  margin: 0 auto;
}

svg {
	cursor: default;
}



body, html {
	height:100%;
	margin:0;
}

#leftbar {
	height:100%;
	width: 300px;
	float:left;
	overflow: hidden;
	
}



.sliderbox {
	margin: 20px 10px 5px 10px;
	padding: 5px;
	/*border: 1px solid #1B52BF;
	border-radius:5px;*/
	box-shadow: 1px 1px 10px #999;
}

.slidercontent {
	/*display: none;(*/
	margin: 10px 0px 0px 0px;
}

.sliderbox p {
	cursor:pointer;
	margin:0px;
	font-size:larger;
}

label {
	display:block;
	width:100px;
	margin:0px;
	float:left;
}

.first {
	display: block;
}

a {
	color:black;
}